* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* Titulos y Textos */
h1 {
    text-align: center;
    font-size: 5rem;
    background-color: whitesmoke;
    padding: 5rem;
    font-family: roboto;
}

h2 {
    margin-top: 2rem;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.titulosecundario h2 {
    font-size: 6rem;
    margin-bottom: 10rem;
    margin-top: 5rem;
}

.tituloterciario h3 {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 4rem;
    margin-bottom: 8rem;
    margin-top: 7rem;
}

.contacto ul {
    font-size: 2rem;
    margin-left: 3rem;
}

.formulario {
    display: flex;   
    justify-content: center;
        
}

.form{
   margin: 5rem;
   font-size: 1.5rem;
   
   
}

.promocion{

    text-align: left;
    font-size: 2rem;
    margin: 10rem;
}

fieldset{
    margin-top: 3rem;
    border: 0.1rem solid blue;
    text-align: left;  
    margin-bottom: 2rem;
}

/* Pagina quienes Somos */
.tituloquienessomos_estructura {
    display: flex;
    margin-bottom: 2rem;
}

.tituloquienessomos_estructura__logotiposomos img {
    height: 60rem;
}

.tituloquienessomos_estructura__parrafo--tamaño {
    margin: 0;
    font-size: 4rem;
    text-align: left;
}

/* pagina Indumentaria */
.remeras {

    text-align: center;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 10rem;
}

.remeras img {
    height: 30rem;
    width: 30rem;
    border: 0.5rem solid blue;
    margin-bottom: 5rem;
}

/* pagina zapatillas */

.zapatillasall {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;          
}

.card-img-top{
    display: flex;
    height: 15rem;
    width: 15rem;
    align-items: center;
    justify-items: center;
}

.card-title{
    font-size: 2rem;
    text-align: center;
}






/* .zapatillas {
    text-align: center;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 10rem;
}

.zapatillas-cards{
    border: solid 0.2rem blue;
    padding: 2rem;
}

.zapatillas-cards p{

    padding: 2rem;
    text-align: justify;
    font-size: 1.5rem;
}

.zapatillas ul {
    
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 3rem;
}

.zapatillas ul li {
    list-style: none;
    border: 0.01rem solid lightblue;
    padding: 2rem;

}

.zapatillas ul li:hover {
    background-color: lightblue;
}   

.zapatillas-cards a{
    text-decoration: none;
    font-size: 3rem;
    padding: 1.5rem;
    border: solid  0.01rem blue;
}
.zapatillas-cards a:hover{
    background-color: aqua;
}

.zapatillas img {
    border: 0.1rem solid lightblue;
    transition: 1.5s;
    height: 30rem;
    width: 30rem;    
    margin-bottom: 5rem;
   
}
 */

/* Nav */

.logoempresa img {

    height: 10rem;
    width: 10rem;
}

.navbar {

    font-size: 1rem;
    font-style: oblique;
    background-color: lightblue;
    color: antiquewhite;
    font-size: 2rem;

}


.navbar li {

    color: black;

}

#navbarNav {
    justify-content: center;

}


.nav-item {
    margin-right: 2.5rem;
    margin-left: 2.5rem;

}

/* mainss */

.portada img {

    margin-top: 6rem;
    max-width: 100%;
    min-width: 100%;
    aspect-ratio: 16/10;
    margin-bottom: 6rem;
    object-fit: cover;

}



/* footer */

footer {

    background-color: whitesmoke;
    color: black;
    text-align: center;
    padding: 30px 0;
}

footer a {
    text-decoration: none;
    color: rgb(25, 0, 255);
    display: inline-block;
    margin: 20px;
    font-size: 50px;
}

span {
    font-style: oblique;
    font-size: 2rem;

}
@media screen and (max-width: 1024px){

h1 {
        
    text-align: center;
    font-size: 2.5rem;
    background-color: whitesmoke;
    padding: 4rem;
    
}

.navbar {
    
    font-style: oblique;
    background-color: lightblue;
    font-size: 1.5rem;

}
.navbar-nav{
    text-align: center;
    
}
.portada img {

    height: auto;
    width: auto;
}
.nav-link{
    margin-top: 1rem;
    color: black;
}

.titulosecundario h2{
    font-size: 2rem;
    margin-bottom: 4rem;
}

.tituloterciario h3{
    font-size: 1.8rem;
}


.tituloquienessomos_estructura{
    display: block;

}

.tituloquienessomos_estructura__logotiposomos{
    display: none;
}

.tituloquienessomos_estructura__parrafo--tamaño{
    font-size: 2rem;
    margin-bottom: 4rem;
}


.remeras {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;

}

.remeras img{
    border: 0.1rem solid orange;
    height: 20rem;
    width: 20rem;

}

.zapatillas{        
    grid-template-columns: 1fr;
    gap: 3rem;
}

.zapatillas img{
    transition: 1.5s;
    border: 0.1rem solid orange;
    height: 20rem;
    width: 20rem;
    

}
.formulario {
    
    display: block;   
    justify-content: right;
            
}

.promocion{
    text-align: left;
    margin: 3rem;
}

.form{
    text-align: center;
    
    margin: 5rem;
    
}

fieldset{
    margin-top: 3rem;
    
}

.tituloterciario li {
    font-size: 1.5rem;
    margin-left: 1rem;
}


}

