.contacto {
    ul {
        li {
            list-style: none;
            font-size: 3rem;
            margin-left: 3rem;
        }
    }
}

.formulario {
    display: flex;
    justify-content: center;

    form {
        margin: 5rem;
        font-size: 1.5rem;
    }

    fieldset {
        margin-top: 3rem;
        border: 0.1rem solid blue;
        text-align: left;
        margin-bottom: 2rem;
        border-radius: 30px;
        background: linear-gradient(90deg, #CCCCCC, #FFFFFF) repeat scroll 0 0 transparent;
        border-radius: 10px 10px 10px 10px;
        -webkit-box-shadow: 0 0 15px #AAAAAA;
        -moz-box-shadow: 0 0 15px #AAAAAA;
        box-shadow: 0 0 15px #AAAAAA;
        
    }
}

.promocion {
    text-align: left;
    font-size: 2rem;
    margin: 10rem;
}

@media screen and (max-width: 1024px) {
    .formulario {
        display: block;
        justify-content: right;

        form {
            text-align: center;
            margin: 5rem;
        }

        fieldset {
            margin-top: 3rem;
        }
    }

    .promocion {
        text-align: left;
        margin: 3rem;
    }

    .contacto {
        li {
            font-size: 1.5rem;
            margin-left: 1rem;
        }
    }
}