.contacto {
    ul {
        margin-bottom: 7rem;

        li {
            list-style: none;
            font-size: 3rem;
            margin-left: 75rem;

        }
    }
}

.formulario {
    display: flex;
    justify-content: left;
    margin-left: 3rem;

    h4 {
        font-size: 3rem;
        margin-top: 3rem;
        margin-bottom: 5rem;
    }


    form {
        margin: 8rem;
        font-size: 1.5rem;
    }

    fieldset {
        margin-top: 3rem;
        border: 0.1rem solid blue;
        text-align: left;
        margin-bottom: 2rem;
        border-radius: 80px;
        background: linear-gradient(90deg, #CCCCCC, #FFFFFF) repeat scroll 0 0 transparent;
        -webkit-box-shadow: 0 0 15px #AAAAAA;
        -moz-box-shadow: 0 0 15px #AAAAAA;
        box-shadow: 0 0 15px #AAAAAA;

    }
}

.promocion {
    text-align: left;
    font-size: 2rem;
    margin-top: 36rem;
    margin-left: 4rem;
}

@media screen and (max-width: 1024px) {
    .formulario {
        display: block;
        justify-content: right;
        margin: 5rem;

        h4 {
            font-size: 2rem;
        }

        form {
            margin: 5rem;
        }

        fieldset {
            margin-top: 3rem;
        }

    }

    .promocion {
        text-align: left;
        margin: 3rem;
    }

    .contacto {
        ul {
            li {
                font-size: 2rem;
                margin-left: 4rem;
            }
        }
    }
}