@use "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* Titulo */
h1 {
    text-align: center;
    font-size: (variables.$m*3)-1;
    background-color: whitesmoke;
    padding: (variables.$m*3)-1;
    font-family: roboto;
}

.titulosecundario  {
    h2{
        text-align: center;
        font-size: variables.$m*3;
        margin-bottom: variables.$m*5;
        margin-top: (variables.$m*3)-1;
}
}

.tituloterciario  {
    h3{
        text-align: center;
        font-size: variables.$m*2;
        margin-bottom: variables.$m*4;
        margin-top: (variables.$m*4)-1;
    }
}
.portada { 
        img{
            margin-top: variables.$m*1;
            max-width: 100%;
            min-width: 100%;
            object-fit: cover;
            aspect-ratio: 16/10;
            margin-bottom: 1rem;
}
}
.d-block{
    height: variables.$m*15;
    width: variables.$m*21;
    margin-bottom: 1rem;
}
/* Estilos aplicados a todas las Paginas */
/* Nav */
.logoempresa  { 
        img{
             height: 10rem;
             width: 10rem;
    }   
}

#navbarNav {
    justify-content: center;
}

.navbar {
    justify-content: center;
    font-size: 2.5rem;
    font-style: oblique;
    background-image: linear-gradient( to right, white, lightblue);

    ul {
        text-align: center;

        li {
            margin-right: 2.5rem;
            margin-left: 2.5rem;

            a {
                color: variables.$negro;
            }
        }
    }
}
/* footer */
footer {
    background-color: whitesmoke;
    color: variables.$negro;
    text-align: center;
    padding: 30px 0;
    a {
        text-decoration: none;
        color: variables.$azul;
        display: inline-block;
        margin: 20px;
        font-size: 50px;
    }
    span {
        font-family: variables.$letra;        
        font-size: 2rem;
    }
}

@media screen and (max-width: 1024px) {
    .portada  {
            img{
                 height: auto;
                 width: auto;
        }
    }
    h1 {
        text-align: center;
        font-size: 2.5rem;
        background-color: whitesmoke;
        padding: 4rem;
    }
    .navbar {
        font-style: oblique;
        background-image: linear-gradient( to right, white, lightblue);
        font-size: 1.5rem;

        ul {
            text-align: center;

            li {
                a {
                    margin-top: 1rem;
                    color: variables.$negro;
                }
            }
        }
    }
    .d-block{
        height: variables.$m*6;
        width: variables.$m*9;
        margin-bottom: 1rem;
    }
}